body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    padding: 1rem;
    text-align: center;
}

h1, h4 {
    margin: 0.5rem 0;
}

.flag img {
    width: 50px;
    height: auto;
}

.overlay {
    position: relative;
    text-align: center;
    color: white;
    background: url("assets/img/5.jpg") no-repeat center center/cover;
    padding: 100px 20px;
}

.overlay h1, .overlay p {
    margin: 10px 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card h4, .card p {
    margin: 15px;
}

footer {
    background: #454545;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

footer .top, footer .link-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .link-boxes ul {
    list-style: none;
    padding: 0;
}

footer .link-boxes li {
    margin: 5px 0;
}

footer .link-boxes a {
    color: white;
    text-decoration: none;
}

footer .bottom-details {
    margin-top: 20px;
}

.footer .bottom-details a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container-fluid, .overlay, .card-container {
        padding: 10px;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }

    footer {
        position: static;
    }
}
